<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!-- <mat-toolbar>
  <mat-toolbar-row>
    <a target="_blank" rel="noopener" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8yY9zXUVwI4YkiJb2-Dv1Kcwg6mxyrFiWPzx16yS-wEQiwU65WQ">Trigger Warning</a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a target="_blank" rel="noopener" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8yY9zXUVwI4YkiJb2-Dv1Kcwg6mxyrFiWPzx16yS-wEQiwU65WQ">Trigger Warning</a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <a target="_blank" rel="noopener" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8yY9zXUVwI4YkiJb2-Dv1Kcwg6mxyrFiWPzx16yS-wEQiwU65WQ">Trigger Warningl</a>
  </mat-toolbar-row>
</mat-toolbar>


<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://www.chinesefortunecalendar.com/PC/Angel/Samples/Trump/Trump-200.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://www.opensecrets.org/assets/candidates/trump-3cd2028ba4b67c833ff9950437ad8ff435eed853fd5bcf522e182f6738fc0799.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUlXWvYRVNo-vVrdVRR-Yq7tpwWJc_6FN_hkE2tZs0P5IR_tbfTg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV45MqPsFIhgx_AKdodBy-BeCHBDwvYAjsaSuffpOcO7CNNBHYYA">
  </div>

</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8yY9zXUVwI4YkiJb2-Dv1Kcwg6mxyrFiWPzx16yS-wEQiwU65WQ">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8yY9zXUVwI4YkiJb2-Dv1Kcwg6mxyrFiWPzx16yS-wEQiwU65WQ">
  </div>
</div> -->

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let picture of pictures">
    <!-- <span fxFlex="80%">{{picture.title}}</span> -->
    <img mat-card-image [src]="picture.img">
  </mat-card>
</div>
